/*
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Poly:400italic);

body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', 'Verdana', sans-serif;
}
