@import 'media-queries';

@include screen(320px, 568px) {
  .index-page {

    .index-hero {
      flex-flow: column nowrap;
      min-height: 1540px;

      .index-hero-intro {
        flex: 6;
        align-items: center;

        .index-hero-intro-logo {
          zoom: 0.8;
        }

        .index-hero-intro-slogan {
          width: 260px;
        }

        .index-hero-intro-links {
          flex-flow: column nowrap;
        }
      }
      .index-hero-screenshot {
        flex: 4;
        align-self: center;

        background-position: bottom;
        zoom: 0.8;
      }
    }

    .index-features {
      padding: 1vh 0;

      .index-features-feature {
        flex: 1 100%;
        padding: 0 1vh;
      }
    }

    .index-quotes {
      flex-flow: column nowrap;
    }

    .index-footer {
      padding: 2vh 0;

      .footer-social {
      }

      .footer-links {
      }
    }
  }
}
