@import 'mixins/media-queries';

@include min-screen(1024px) {
  .index-page {
    // max-width: 1200px;
    // margin: 0 auto;

    .index-hero {
      max-width: 1000px;
      min-height: 770px;

      .index-hero-intro {
        flex: 1;
        .index-hero-intro-links {
          flex-flow: row nowrap;
        }
      }
      .index-hero-screenshot {
        align-self: flex-end;
      }
    }

    .index-features {
      height: 770px;
      padding: 0 5vw;

      .index-features-feature {
      }
    }

    .index-quotes {
      min-height: 400px;
    }

    .index-footer {
      min-height: 400px;
    }

    .index-gallery {
      min-height: 200px;
      flex-flow: row nowrap;
      justify-content: space-around;

      a {
        flex: 0 0 9%;
      }
    }
  }
}
