@import 'media-queries';

@include min-screen(568px) {
  .index-page {
    // max-width: 1200px;
    // margin: 0 auto;

    .index-hero {
      max-width: 1000px;

      .index-hero-intro {
        flex: 1;

        .index-hero-intro-links {
          flex-flow: row nowrap;

          .index-hero-intro-links-video {
            margin-left: 10px;
          }
        }
      }
      .index-hero-screenshot {
        flex: 1;
        align-self: flex-end;

        background-position: right;
      }
    }

    .index-features {
      height: 770px;
      padding: 0 5vw;

      .index-features-feature {
      }
    }

    .index-video {
      width: 77vw;
      height: 80vh;
    }

    .index-quotes {
      min-height: 400px;
    }

    .index-footer {
      min-height: 400px;

      .footer-social {
      }

      .footer-links {
      }
    }
  }
}
