@import 'mixins/media-queries';

@include screen(320px, 568px) {
  .index-page {

    .index-hero {
      flex-flow: column nowrap;
      min-height: 1400px;

      .index-hero-intro {
        flex: 1;
        align-items: center;

        .index-hero-intro-logo {
          zoom: 0.8;
        }

        .index-hero-intro-slogan {
          width: 260px;
        }

        .index-hero-intro-links {
          flex-flow: column nowrap;
        }
      }
      .index-hero-screenshot {
        align-self: center;

        background-position: bottom;
        zoom: 0.8;
      }
    }

    .index-features {
      padding: 1vh 0;

      .index-features-feature {
        flex: 1 100%;
        padding: 0 1vh;
      }
    }

    .index-quotes {
      flex-flow: column nowrap;
    }

    .index-footer {
      padding: 2vh 0;
      min-height: 200px;

      .footer-links {
        flex-flow: row wrap;

        a {
          flex: 0 0 30%;
          margin-bottom: 10px;
        }
      }
    }

    .index-gallery {
      flex-flow: column nowrap;
    }
  }
}
