@import 'mixins/images';
@import 'mixins/media-queries';

@import 'variables';

.index-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-image: image-url('bg.jpg') no-repeat;
  background-position: fixed;

  header {
    height: 120px;
    display: flex;
    flex-flow: row nowrap;

    .brand {
      @include background-image('brand', 227px, 80px);
    }

    nav {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  }

  .hero {
    height: 764px;
    background-position: center;
    background-size: cover;

    .hero-inner {
      margin: 0 auto;
      align-self: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .hero-intro {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;

      .hero-intro-logo {
        @include background-image('icon', 339px, 114px);
      }

      .hero-intro-slogan {
        color: white;
      }

      .hero-intro-links {
        display: flex;

        a {
          display: inline-block;
        }

        .hero-intro-links-app_store {
          @include background-image('icons/app_store', 252px, 72px);
        }
      }

    }
  }

  .features {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #5b6d7c;

    .features-feature {
      flex: 1 30%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .features-feature-grid {
        @include background-image('icons/grid', 60px, 60px);
      }
      .features-feature-reading {
        @include background-image('icons/reading', 60px, 60px);
      }
      .features-feature-portrait_and_landscape {
        @include background-image('icons/portrait_and_landscape', 60px, 60px);
      }
      .features-feature-library {
        @include background-image('icons/library', 60px, 60px);
      }
      .features-feature-icloud {
        @include background-image('icons/icloud', 60px, 60px);
      }
      .features-feature-passcode {
        @include background-image('icons/passcode', 60px, 60px);
      }

      h2 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
      }

      p {
        max-width: 270px;
        font-size: 18px;
        word-wrap: break-word;
        hyphens: auto;
      }
    }
  }

  .press {
    border-top: 1px solid $border-color;

    blockquote {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;

      p {
        font-family: 'Poly', serif;
        font-size: 28px;
        color: #636363;

        &:before {
          content: "“";
        }

        &:after {
          content: "”";
        }
      }

      cite {
        &:before {
          content: '— ';
        }
        font-family: 'Poly', serif;
        align-self: flex-end;

        a {
          color: $link-color;
          text-decoration: none;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-top: 1px solid $border-color;
    background-color: white;
    text-align: center;

    .footer-links {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        margin: 0 20px;
        font-size: 14px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-color;
        &:hover {
          color: #31c4cc;
        }

        @mixin footer-links-icon($name) {
          @include background-image("icons/#{$name}", 81px, 81px);

        }

        .footer-links-facebook-icon {
          @include footer-links-icon('facebook');
        }
        .footer-links-twitter-icon {
          @include footer-links-icon('twitter');
        }
        .footer-links-presskit-icon {
          @include footer-links-icon('presskit');
        }
        .footer-links-support-icon {
          @include footer-links-icon('support');
        }
        .footer-links-translate-icon {
          @include footer-links-icon('translate');
        }
        .footer-links-contact-icon {
          @include footer-links-icon('contact');
        }
      }
    }

    .footer-copy {
      color: $text-color;

      a {
        color: $link-color;
      }
    }
  }

  .gallery {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: #f8f9fb;

    a {
      img {
        width: 100%;
      }
    }
  }

  .subscribe {
    padding: 50px 0 50px 0;

    h2 {
      text-align: center;
      font-size: 42px;
    }

    form {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      height: 200px;

      input {
        height: 42px;
        width: 342px;
        font-size: 18px;
        border-radius: 8px;
        border: 1px solid #5A5A5A;
        text-align: center;
      }

      button[type='submit'] {
        color: white;
        background: #31c4cc;
        border: none;
        border-radius: 8px;
        line-height: 42px;
        font-size: 21px;
        width: 180px;
        margin-left: 23px;

        &:hover {
          cursor: pointer;
          color: #5A5A5A;
        }
      }
    }
  }
}
