@import 'media-queries';

@mixin background-image($image_name, $width, $height) {
  width: $width;
  height: $height;
  background-image: image-url("#{$image_name}.png");
  background-repeat: no-repeat;
  background-size: $width, $height;
  @include hdpi {
    background-image: image-url("#{$image_name}@2x.png");
  }
}

.index-page {
  display: flex;
  flex-flow: column nowrap;
  background: image-url('top-bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;

  .index-hero {
    align-self: center;
    min-height: 770px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .index-hero-intro {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;

      .index-hero-intro-logo {
        @include background-image('icon', 339px, 114px);
      }

      .index-hero-intro-slogan {
        padding: 70px 0;
        font-size: 40px;
        color: white;

        p:nth-of-type(2) {
          font-family: 'Poly', serif;
          font-size: 21px;
        }
      }

      .index-hero-intro-links {
        display: flex;

        a {
          display: inline-block;
        }

        .index-hero-intro-links-app_store {
          @include background-image('icon-app_store', 252px, 72px);
        }
      }

    }
    .index-hero-screenshot {
      min-height: 675px;
      @include background-image('iPhone', 375px, 675px);

      .screenshots-container {
        overflow: hidden;
        position: relative;
        height: 100%;
        margin: 0 27px 0 34px;
      }

      .screenshots {
        animation: hscroll 20s infinite;
        width: 2240px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;

        & > div {
          background-position: bottom;
        }
      }

      .screenshot-1 {
        @include background-image('screenshots/1', 320px, 568px);
      }
      .screenshot-2 {
        @include background-image('screenshots/2', 320px, 568px);
      }
      .screenshot-3 {
        @include background-image('screenshots/3', 320px, 568px);
      }
      .screenshot-4 {
        @include background-image('screenshots/4', 320px, 568px);
      }
      .screenshot-5 {
        @include background-image('screenshots/5', 320px, 568px);
      }
      .screenshot-6 {
        @include background-image('screenshots/6', 320px, 568px);
      }
      .screenshot-7 {
        @include background-image('screenshots/7', 320px, 568px);
      }
    }
  }

  .index-features {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #5b6d7c;

    .index-features-feature {
      flex: 1 30%;
      height: 200px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .index-features-feature-grid {
        @include background-image('icon-grid', 60px, 60px);
      }
      .index-features-feature-reading {
        @include background-image('icon-reading', 60px, 60px);
      }
      .index-features-feature-portrait_and_landscape {
        @include background-image('icon-portrait_and_landscape', 60px, 60px);
      }
      .index-features-feature-library {
        @include background-image('icon-library', 60px, 60px);
      }
      .index-features-feature-icloud {
        @include background-image('icon-icloud', 60px, 60px);
      }
      .index-features-feature-passcode {
        @include background-image('icon-passcode', 60px, 60px);
      }

      h2 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .index-quotes {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    blockquote {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;

      p {
        font-family: 'Poly', serif;
        font-size: 20px;
        color: #636363;

        &:before {
          content: "“";
        }

        &:after {
          content: "”";
        }
      }

      small {
        font-family: 'Poly', serif;
        font-size: 24px;
        color: #4a4a4a;
        align-self: flex-end;
      }
    }
  }

  .index-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #d4d4d6;
    text-align: center;

    .footer-social {
      display: flex;
      justify-content: center;

      a {
        margin: 0 10px;

        &.footer-social-facebook {
          @include background-image('icon-facebook', 64px, 64px);
        }
        &.footer-social-twitter {
          @include background-image('icon-twitter', 64px, 64px);
        }
      }
    }

    .footer-links {
      color: #4b4b4b;

      a {
        color: black;
      }
    }
  }

}
