@import 'mixins/media-queries';

$image_zoom: 0.8;

@include screen(320px, 568px) {
  .index-page {

    .index-hero {
      background: image-url('top_bg-iphone.jpg') no-repeat;

      .index-hero-inner {
        flex-flow: column nowrap;
        min-height: 1000px;
      }

      .index-hero-intro {
        flex: 1;
        align-items: center;

        .index-hero-intro-logo {
          zoom: $image_zoom;
        }

        .index-hero-intro-slogan {
          width: 260px;
          font-size: 26px;
          padding: 30px 0;

          p:nth-of-type(2) {
            font-size: 16px;
          }
        }

        .index-hero-intro-links {
          flex-flow: column nowrap;
          .index-hero-intro-links-app_store {
          }
        }
      }
      .index-hero-screenshot {
        align-self: center;

        background-position: bottom;
        zoom: $image_zoom;
      }
    }

    .index-features {
      padding: 1vh 0;

      .index-features-feature {
        flex: 1 100%;
        padding: 0 1vh;
      }
    }

    .index-quotes {
      flex-flow: column nowrap;
    }

    .index-footer {
      padding: 2vh 0;
      min-height: 200px;

      .footer-links {
        flex-flow: row wrap;

        a {
          flex: 0 0 30%;
          margin-bottom: 10px;
        }
      }
    }

    .index-gallery {
      flex-flow: column nowrap;
    }
  }
}
