@import 'mixins/images';
@import 'mixins/media-queries';

@import 'variables';

.index-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .index-hero {
    background: image-url('top_bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    .index-hero-inner {
      margin: 0 auto;
      align-self: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .index-hero-intro {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;

      .index-hero-intro-logo {
        @include background-image('icon', 339px, 114px);
      }

      .index-hero-intro-slogan {
        color: white;
      }

      .index-hero-intro-links {
        display: flex;

        a {
          display: inline-block;
        }

        .index-hero-intro-links-app_store {
          @include background-image('icons/app_store', 252px, 72px);
        }
      }

    }
    .index-hero-screenshot {
      min-height: 675px;
      @include background-image('iPhone', 375px, 675px);

      .screenshots {
        padding-top: 107px;
        margin: 0 27px 0 34px;
        width: 320px;

        & > div {
          background-position: bottom;
        }
      }

      .screenshot-calendar {
        @include background-image('screenshots/calendar', 320px, 568px);
      }
      .screenshot-diary-meta {
        @include background-image('screenshots/diary-meta', 320px, 568px);
      }
      .screenshot-edit-grids {
        @include background-image('screenshots/edit-grids', 320px, 568px);
      }
      .screenshot-edit-title {
        @include background-image('screenshots/edit-title', 320px, 568px);
      }
      .screenshot-main-screen {
        @include background-image('screenshots/main-screen', 320px, 568px);
      }
      .screenshot-reading-mode {
        @include background-image('screenshots/reading-mode', 320px, 568px);
      }
      .screenshot-share {
        @include background-image('screenshots/share', 320px, 568px);
      }
      .screenshot-transition {
        @include background-image('screenshots/transition', 320px, 568px);
      }
      .screenshot-write {
        @include background-image('screenshots/write', 320px, 568px);
      }
    }
  }

  .index-features {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #5b6d7c;

    .index-features-feature {
      flex: 1 30%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .index-features-feature-grid {
        @include background-image('icons/grid', 60px, 60px);
      }
      .index-features-feature-reading {
        @include background-image('icons/reading', 60px, 60px);
      }
      .index-features-feature-portrait_and_landscape {
        @include background-image('icons/portrait_and_landscape', 60px, 60px);
      }
      .index-features-feature-library {
        @include background-image('icons/library', 60px, 60px);
      }
      .index-features-feature-icloud {
        @include background-image('icons/icloud', 60px, 60px);
      }
      .index-features-feature-passcode {
        @include background-image('icons/passcode', 60px, 60px);
      }

      h2 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
      }

      p {
        max-width: 270px;
        font-size: 18px;
        word-wrap: break-word;
      }
    }
  }

  .index-quotes {
    border-top: 1px solid $border-color;

    blockquote {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;

      p {
        font-family: 'Poly', serif;
        font-size: 28px;
        color: #636363;

        &:before {
          content: "“";
        }

        &:after {
          content: "”";
        }
      }

      cite {
        &:before {
          content: '— ';
        }
        font-family: 'Poly', serif;
        align-self: flex-end;

        a {
          color: $link-color;
          text-decoration: none;
        }
      }
    }
  }

  .index-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-top: 1px solid $border-color;
    background-color: white;
    text-align: center;

    .footer-links {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        margin: 0 20px;
        font-size: 14px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-color;
        &:hover {
          color: #31c4cc;
        }

        @mixin footer-links-icon($name) {
          @include background-image("icons/#{$name}", 81px, 81px);

        }

        .footer-links-facebook-icon {
          @include footer-links-icon('facebook');
        }
        .footer-links-twitter-icon {
          @include footer-links-icon('twitter');
        }
        .footer-links-presskit-icon {
          @include footer-links-icon('presskit');
        }
        .footer-links-support-icon {
          @include footer-links-icon('support');
        }
        .footer-links-translate-icon {
          @include footer-links-icon('translate');
        }
        .footer-links-contact-icon {
          @include footer-links-icon('contact');
        }
      }
    }

    .footer-copy {
      color: $text-color;

      a {
        color: $link-color;
      }
    }
  }

  .index-gallery {
    display: flex;
    align-items: center;
    background: #f8f9fb;

    a {
      img {
        width: 100%;
      }
    }
  }
}
