/*
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-flow: column nowrap;
}

.home-hero {
  height: 768px;
  background-color: #284a91;
  padding: 0 10%;
  display: flex;
  flex-flow: row nowrap;

  .home-hero-intro {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: strech;
    justify-content: center;

    & > div {
      min-height: 100px;
    }

    .home-hero-intro-logo {
      background: image-url('icon.png') no-repeat;
      width: 339px;
      height: 114px;
    }

    .home-hero-intro-app_store_link {
      a {
        display: inline-block;
        background: image-url('icon-app_store.png') no-repeat;
        width: 252px;
        height: 72px;
      }
    }
  }
  .home-hero-screenshot {
    flex: 1;
    align-self: flex-end;

    .home-hero-screenshot-iphone {
      background: image-url('iPhone.png') no-repeat;
      width: 376px;
      height: 620px;
    }
  }
}

.home-features {
  padding: 100px 10%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .home-features-feature {
    flex: 1 30%;
    height: 200px;
    text-align: center;
  }
}

.home-video {
  height: 700px;
  background-color: #81A2EC;
}

.home-quotes {
  height: 300px;
  padding: 0 10%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.home-footer {
  padding: 50px 0 0 0;
  background-color: #d4d4d6;
  text-align: center;

  .footer-social {
    a {
      margin: 0 10px;
    }
  }
}
