/*
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Poly:400,400italic);

body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', 'Verdana', sans-serif;
}

.home {
  display: flex;
  flex-flow: column nowrap;
  // max-width: 1200px;
  // margin: 0 auto;
}

.home-hero {
  background-color: #284a91;
  padding: 0 10%;
  display: flex;
  flex-flow: row nowrap;
  background: image-url('top-bg.png') no-repeat;
  background-position: center;
  background-size: cover;

  .home-hero-intro {
    height: 770px;
    flex: 6;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;

    .home-hero-intro-logo {
      background: image-url('icon.png') no-repeat;
      width: 339px;
      height: 114px;
    }

    .home-hero-intro-slogan {
      padding: 70px 0;
      font-size: 40px;
      color: white;
    }

    .home-hero-intro-app_store_link {
      a {
        display: inline-block;
        background: image-url('icon-app_store.png') no-repeat;
        width: 252px;
        height: 72px;
      }
    }
  }
  .home-hero-screenshot {
    flex: 4;
    align-self: flex-end;

    .home-hero-screenshot-iphone {
      background: image-url('iPhone.png') no-repeat;
      width: 376px;
      height: 620px;
    }
  }
}

.home-features {
  padding: 5vw;
  height: 770px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: #5b6d7c;

  .home-features-feature {
    flex: 1 30%;
    height: 200px;
    text-align: center;

    h2 {
      font-weight: bold;
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
}

.home-video {
  height: 700px;
  background-color: #7ccad5;
  text-align: center;
}

.home-quotes {
  height: 400px;
  padding: 0 5vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  blockquote {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    p {
      font-family: 'Poly', serif;
      font-size: 20px;
      color: #636363;

      &:before {
        content: "“";
      }

      &:after {
        content: "”";
      }
    }

    small {
      font-family: 'Poly', serif;
      font-size: 24px;
      color: #4a4a4a;
      align-self: flex-end;
    }
  }
}

.home-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 400px;
  background-color: #d4d4d6;
  text-align: center;

  .footer-social {
    a {
      margin: 0 10px;
    }
  }

  .footer-links {
    color: #4b4b4b;

    a {
      color: black;
    }
  }
}
