/*
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-flow: column nowrap;
}

.home-hero {
  height: 768px;
  background-color: #284a91;
  padding: 0 10%;
  display: flex;
  flex-flow: row nowrap;

  .home-hero-intro {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: strech;
    justify-content: center;

    & > div {
      min-height: 100px;
    }
  }
  .home-hero-screenshot {
    flex: 1;
  }
}

.home-features {
  height: 768px;
  padding: 0 10%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .home-features-feature {
    flex: 1 30%;
  }
}

.home-video {
  height: 700px;
  background-color: #81A2EC;
}

.home-quotes {
  height: 300px;
  padding: 0 10%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.home-footer {
  height: 300px;
  background-color: #d4d4d6;
  text-align: center;

  .footer-social {
    display: flex;
    justify-content: center;
  }
}
