@import 'media-queries';

@mixin background-image($image_name, $width, $height) {
  width: $width;
  height: $height;
  background-image: image-url("#{$image_name}.png");
  background-repeat: no-repeat;
  background-size: $width, $height;
  @include hdpi {
    background-image: image-url("#{$image_name}@2x.png");
  }
}

.index-page {
  display: flex;
  flex-flow: column nowrap;

  .index-hero {
    background-color: #284a91;
    display: flex;
    flex-flow: row nowrap;
    background: image-url('top-bg.png') no-repeat;
    background-position: center;
    background-size: cover;

    .index-hero-intro {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;

      .index-hero-intro-logo {
        @include background-image('icon', 339px, 114px);
      }

      .index-hero-intro-slogan {
        padding: 70px 0;
        font-size: 40px;
        color: white;
      }

      .index-hero-intro-links {
        display: flex;

        a {
          display: inline-block;
        }

        .index-hero-intro-links-app_store {
          @include background-image('icon-app_store', 252px, 72px);
        }
        .index-hero-intro-links-video {
          @include background-image('icon-app_store', 252px, 72px);
        }
      }

    }
    .index-hero-screenshot {
      align-self: flex-end;

      @include background-image('iPhone', 376px, 620px);
    }
    .index-hero-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .index-features {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #5b6d7c;

    .index-features-feature {
      flex: 1 30%;
      height: 200px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .index-features-feature-grid {
        @include background-image('icon-grid', 60px, 60px);
      }
      .index-features-feature-reading {
        @include background-image('icon-reading', 60px, 60px);
      }
      .index-features-feature-portrait_and_landscape {
        @include background-image('icon-portrait_and_landscape', 60px, 60px);
      }
      .index-features-feature-library {
        @include background-image('icon-library', 60px, 60px);
      }
      .index-features-feature-icloud {
        @include background-image('icon-icloud', 60px, 60px);
      }
      .index-features-feature-passcode {
        @include background-image('icon-passcode', 60px, 60px);
      }

      h2 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .index-video {
    background-color: #7ccad5;
    text-align: center;
  }

  .index-quotes {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    blockquote {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;

      p {
        font-family: 'Poly', serif;
        font-size: 20px;
        color: #636363;

        &:before {
          content: "“";
        }

        &:after {
          content: "”";
        }
      }

      small {
        font-family: 'Poly', serif;
        font-size: 24px;
        color: #4a4a4a;
        align-self: flex-end;
      }
    }
  }

  .index-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #d4d4d6;
    text-align: center;

    .footer-social {
      display: flex;
      justify-content: center;

      a {
        margin: 0 10px;

        &.footer-social-facebook {
          @include background-image('icon-facebook', 64px, 64px);
        }
        &.footer-social-twitter {
          @include background-image('icon-twitter', 64px, 64px);
        }
      }
    }

    .footer-links {
      color: #4b4b4b;

      a {
        color: black;
      }
    }
  }

}
