@import 'mixins/images';
@import 'mixins/media-queries';
@import 'variables';

.features {
  padding: 100px 0;
  background: $white;

  table {
    margin: 0 auto;
    width: 90%;

    @include min-screen(768px) {
      max-width: 700px;
    }

    thead {
      tr {
        th {
          font-size: 18px;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        line-height: 40px;
        border-bottom: 1px solid #ECFAFB;

        td {
          width: 50px;

          &:nth-of-type(1) {
            color: #2E9384;
            font-size: 16px;
            width: 200px;
          }

          &.yes {
            @include background-image('icons/yes', 24px, 24px);
            background-position: center left;
          }
          &.yes-note1 {
            @include background-image('icons/yes-note1', 32px, 29px);
            background-position: center left;
          }
          &.yes-note2 {
            @include background-image('icons/yes-note2', 32px, 29px);
            background-position: center left;
          }
        }
      }
    }
  }

  .notes {
    margin: 0 auto;
    width: 90%;

    @include min-screen(768px) {
      width: 50%;
    }

    p {
      font-size: 13px;

      &:nth-of-type(1) {
        &:before {
          display: block;
          padding-left: 10px;
          float: left;
          content: ' ';
          @include background-image('icons/note-1', 14px, 14px);
        }
      }
      &:nth-of-type(2) {
        &:before {
          display: block;
          padding-left: 10px;
          float: left;
          content: ' ';
          @include background-image('icons/note-2', 14px, 14px);
        }
      }
    }
  }
}

