@import 'mixins/images';
@import 'mixins/media-queries';
@import 'variables';

header {
  min-height: 100px;
  padding: 10px 0;
  display: flex;
  flex-flow: column nowrap;
  background-color: $white;
  align-items: center;
  justify-content: space-between;

  @include min-screen(768px) {
    flex-flow: row nowrap;
  }

  .brand {
    @include background-image('brand', 227px, 80px);

    @include min-screen(768px) {
      margin: 0 0 0 5vw;
    }
  }

  nav {
    display: flex;
    width: 90vw;
    flex-flow: row nowrap;
    align-items: center;
    line-height: 21px;
    justify-content: space-between;
    max-width: 500px;

    @include max-screen(767px) {
      margin-top: 10vw;
    }

    @include min-screen(768px) {
      padding-right: 5vw;
    }

    a {
      font-size: 18px;
      color: #4A4A4A;
      text-decoration: none;

      &:hover {
        color: #31c4cc;
      }
    }
  }
}
