@import 'mixins/images';
@import 'mixins/media-queries';
@import 'variables';

.hero {
  @include background-image('hero/en-small', 292px, 596px);
  height: 964px;
  width: auto;

  @include min-screen(768px) {
    @include background-image('hero/en', 1500px, 608px);
    height: 964px;
    width: auto;
  }

  position: relative;
  background-position: center bottom;

  &.zh {
    @include background-image('hero/zh-small', 292px, 596px);
    height: 890px;
    width: auto;

    @include min-screen(768px) {
      @include background-image('hero/zh', 1500px, 608px);
      height: 964px;
      width: auto;
    }

    background-position: center bottom;
  }

  .content {
    margin: 40px auto 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 80vw;
    text-align: center;

    @include min-screen(768px) {
      margin: 100px auto 0 auto;
      max-width: 800px;
    }

    h1 {
      font-size: 28px;
      color: $white;
      line-height: 1.25;
      margin: 0;

      @include min-screen(768px) {
        font-size: 34px;
        line-height: 1;
      }
    }

    .download {
      margin: 66px 0 0 0;
      @include background-image('button-download', 205px, 61px);
      display: block;
      align-self: center;
    }
  }
}
