@import 'mixins/images';
@import 'mixins/media-queries';
@import 'variables';

.subscribe {
  background: $white;
  padding: 50px 0 50px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  @include min-screen(768px) {
    flex-flow: row nowrap;
  }

  h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    color: #5C5C5C;
    line-height: 48px;
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 200px;

    @include min-screen(768px) {
      flex-flow: row nowrap;
    }

    input {
      height: 48px;
      width: 80vw;
      min-width: 300px;
      max-width: 328px;
      font-size: 18px;
      border-radius: 8px;
      border: 2px solid #5A5A5A;
      padding: 0 0 0 10px;

      @include min-screen(768px) {
        margin-left: 23px;
      }
    }

    button[type='submit'] {
      color: white;
      background: #31c4cc;
      border: none;
      border-radius: 8px;
      line-height: 48px;
      font-size: 21px;
      min-width: 180px;

      @include max-screen(767px) {
        margin: 23px 0 0 0;
      }

      @include min-screen(768px) {
        margin: 0 0 0 23px;
      }

      &:hover {
        cursor: pointer;
        background-color: darken(#31c4cc, 10%);
      }
    }
  }
}

