@import 'mixins/images';
@import 'mixins/media-queries';
@import 'variables';

.video {
  margin-top: 77px;
  padding: 50px 0 100px 0;
  background: $white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @include min-screen(768px) {
    flex-flow: row nowrap;
  }

  .video-item {
    margin: 20px 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  .preview {
    background-position: center;
    max-width: 95vw;
    cursor: pointer;
    overflow: hidden;
    text-indent: -9999px;

    &#video-preview-1 {
      @include background-image('videos/1', 400px, 235px, 'jpg');
    }
    &#video-preview-2 {
      @include background-image('videos/2', 400px, 235px, 'jpg');
    }
  }

  button {
    margin: 33px 0 0 0;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    color: #4A4A4A;
    line-height: 37px;
    border: none;
    background: transparent;

    &:hover {
      color: #31c4cc;
    }

    &:before {
      @include background-image('icons/play', 37px, 36px);
      content: '';
      display: block;
      float: left;
      margin-right: 10px;
    }
  }
}

