---
title: 'Credits'
---

section.credits
  header
    h2 Team
  ul
    li
      .avatar.avatar-kc
      .info
        .name Kevin Cao
        .description Creative Director
    li
      .avatar.avatar-bc
      .info
        .name Brett Chen
        .description Illustrator
    li
      .avatar.avatar-lz
      .info
        .name Lena Zhang
        .description Designer
    li
      .avatar.avatar-cyx
      .info
        .name Chen Yu Xiao
        .description Developer
    li
      .avatar.avatar-vz
      .info
        .name Vito Zhang
        .description Developer
    li
      .avatar.avatar-jl
      .info
        .name Jun Lin
        .description Developer

  header
    h2 Translator
  ul
    li
      .avatar.avatar-xw
      .info
        .name Xuan Wang
        .description Japanese
    li
      .avatar.avatar-sm
      .info
        .name Soya Matsumura
        .description Japanese
    li
      .avatar.avatar-jb
      .info
        .name Jiri Buchvaldek
        .description Czech
    li
      .avatar.avatar-jjjm
      .info
        .name Jose Javier Jimenez Martinez
        .description Spanish
    li
      .avatar.avatar-sa
      .info
        .name Sonja Akins
        .description English
    li
      .avatar.avatar-jm
      .info
        .name Jeanette Müller
        .description German
    li
      .avatar.avatar-jose
      .info
        .name Jose
        .description Spanish

  header
    h2 Special Thanks
  ul
    li
      .avatar.avatar-ew
      .info
        .name Eric Wang
    li
      .avatar.avatar-hj
      .info
        .name Han Jiang

